.dashboard-container{
  background-color: #fff;
  display: block;
  width: 100%;
  min-height: 100vh;
}
#signOutBtn{
  // position: absolute;
  // bottom: 0px;
  // left: 0px;
  width: 100px;
  border-radius: 0px;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background: #303f9f;
  height: 35px;
  // box-shadow: 0px 0px 2px black;
  color: white;
}
